h2 {
    text-align: center;
    text-decoration: wavy;
    color: chocolate;
}
h1 {
    text-align: center;
    text-decoration: wavy;
    color: blue;
}
.mmm {
    border-style: solid;
    border-color: blue;
    border-radius: 2 px;
}